<!DOCTYPE html>
<html>
<!-- head -->
  <%- include('./partials/head') %> 

  <body> 
    <!-- header -->
    <%- include('./partials/header') %> 
    <main class="main_createNote">
        <form method="POST">
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title">
            <br>
            <textarea name="note" id="note" cols="30" rows="10"></textarea>
            <button type="submit">Guardar</button>
        </form>
    </main>

    <%- include('./partials/footer') %> 
  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/note.js"></script>
  </body>
  </html>