<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('./partials/head') %>

  <body>
    <!-- header -->
    <%- include('./partials/header') %>
    <main class="main_createNote">
      <form id="formCreate" method="POST">
        <div>
        
          <input type="text" name="title" id="title" placeholder="Aqui ingresa el titulo"/>
        </div>
        <div>
          <textarea name="note" id="note" cols="30" rows="10" placeholder="Aqui escribe tu nueva nota"></textarea>
        </div>
        <div>
          <button id="saveNote" type="submit">Guardar</button>
         
        </div>
      </form>
    </main>

    <%- include('./partials/footer') %>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/noteCreate.js"></script>
  </body>
</html>
