<!DOCTYPE html>
<html>
<!-- head -->
  <%- include('./partials/head') %> 

  <body> 
    <!-- header -->
    <%- include('./partials/header') %> 
    
    <main class="index_main">
<p>
  NoteP@d es una aplicación web diseñada para proporcionarte un bloc de notas, donde podrás registrar una cuenta y guardar tus notas de manera segura. Con una interfaz intuitiva y funcionalidades completas, NoteP@d te ofrece una experiencia perfecta para gestionar tus pensamientos y tareas diarias.
</p>
<a class="ingresar" href="/user/login">Ingresar</a>

    </main>

    <%- include('./partials/footer') %> 
  <script src="/javascripts/index.js"></script>
  </body>
  </html>