<!DOCTYPE html>
<html>
<!-- head -->
  <%- include('./partials/head') %> 
  <body> 
    <%- include('./partials/header') %> 
    <main class="main_login">

      <h3>
        Ingresa a tu cuenta !
      </h3>
      
   
      <form action="" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email">
        <br>
        <label for="password">Contraseña: </label>
        <input type="password" name="password">
        <br>
        <% if (locals.errors) { %>
          <h5 class="credencialesInvalidas">Credenciales invalidas</h5>
         <% } %>
        <button type="submit">Ingresar</button>
      </form>
      <div>
        <h4>Aun no tienes cuenta?</h4>
      <a href="/user/register">Registrate !</a>
      </div>
    </main>
    <%- include('./partials/footer') %> 
    <script src="/javascripts/index.js"></script>
<script src="/javascripts/login.js"></script>
</body>
</html>