.main_createNote  {
    display: flex;
   flex-direction: column;


}
.main_createNote  h3{
    font-size: 30px;
    text-align: center;
}
.main_createNote form {
margin: 0 auto;
width: 90%;

}
.main_createNote form input{
    width: 95%;
    margin: 5px;

}

.main_createNote form textarea{
    width: 95%;
    resize: none;
    margin: 5px;
    padding: 5px;
    height: 50vh;
    font-size: 24px;
}
.main_createNote form button{
    width: 95%;
    padding: 0;
    margin: 5px;

}
#cancelNote a {
    color: black;
}


@media (min-width: 768px) {
    
    .main_createNote  h3{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }
}
