label{
    font-weight: 900;
    font-size: 24px;

}
input{
    border-radius: 5px;
    border:none;
    padding:2px;
    font-size: 24px;

}
button{
    margin-top: 10px;
    font-weight: 900;
    padding:5px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 768px) {
    input{
  
        padding:5px
    
    }
    button{
        font-size: 20px
        
    }
    label{
        font-weight: 900;
        font-size: 18px;
    
    }
    input{
    
        font-size: 16px;
    
    }
   
}