.main_login h3 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 30px;

}
.main_login form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
.main_login div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 10px;
}
.main_login div a{
 color: #ffffff;
 font-size: 20px;
}


@media (min-width: 768px) {
    .main_login{
        padding-top: 30px;
    }
  .main_login h3 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .main_login form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
  }
}
