.main_user{
    padding-top:5px
    }
.main_user h2{
font-size: 28px;
text-align: center;
color: antiquewhite;
}
.subtitleNotes{
margin-left: 16%;
color: rgb(211, 196, 65);
}
.main_user section article{
    overflow: scroll;
}
.main_user section article ul{
    display: flex;
    justify-content: center;
}
.main_user section article a{
    color: wheat;
    display: flex;
    justify-content: space-between;

}

.list{
    margin-top: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 5px;
   width: 100%;
}
.list a{

    margin-top: 2px;
    align-self: center;
  
   
}
.numList{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 10%;
text-align: right;
margin-right: 15px;
font-weight: 900;
}
.titleList{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 70%;
  text-align: left;
  
}

.viewTitleList{
    width: 20%;

}
.sinNotasUser{
    width: 90%;
   padding: 50px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 25px;

}
.agregarNota{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgb(0, 255, 136);
    color:black;
    border-radius: 25px;
    padding: 1px 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    border-top: 2px solid rgb(39, 39, 39);
    border-left: 2px solid rgb(39, 39, 39);
   border-right: 4px solid rgb(26, 26, 26);
   border-bottom: 4px solid rgb(20, 20, 20);

}

@media (min-width: 768px) {
    .list{
        width: 80%;
    }
    .main_user section article{
        overflow: auto;
    }
    .sinNotasUser{
        width: 30%;
       padding: 50px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 25px;
    
    }
    .agregarNota{
    
        padding: 10px;
        transition: all 1s;
      
    }
    .agregarNota i{
    padding-top: 2px;
      
    }
    .agregarNota:hover{
        font-weight: 900;
transition: all 1s;
    }
    
}